################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VSProject/.vs/finalProject/v15/Browse.VC.opendb
